*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

.htaccess
.vscode/
img
images
application/logs
application/config
application/third_party
bulk_existingeditedproductexcel
bulk_existingproductexcel
bulk_proddeleteexcelsheet
bulkproduct_excel
bulkproductedit_excel
asset
node_modules
composer.lock
package-lock.lock